/* CSS declarations go here */
$main-font-color: rgb(88,88,88);
$main-background: #E6ECF0;


html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $main-font-color;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
 
.container {
  max-width: 1080px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  min-height: 100%;
}
 
header {
  padding: 20px 15px 15px 15px;
  position: relative;
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
@media (max-width: 600px) {
}

.main-wrapper {
}

.date-char {
  font-size: 30px;
  font-style: italic;
  color: $main-font-color;
}

.date-splitter {
  border-top: solid 2px $main-font-color;
  width: 25px;
  margin: 10px auto;
}

.main-image {
  z-index: -1;
  position: relative;
  left: -20%;
  max-height: auto;
  width: 140%;
  background-image: url("images/main.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.title {
  font-size: 20px;
}

.title-name {
  font-size: 30px;
}

.map {
    width: 100%;
    height: 300px;
}

.navigation {
    padding: 30px 20px 30px 10px;
    background-color: #f6f6f6;
}

.navigation:after {
    content: "";
    display: block;
    clear: both;
}

.footer {
    padding: 15px 30px;
    background-color: #f6f6f6;
}

.footer:after {
    content: "";
    display: block;
    clear: both;
}

.navigation .naviTitle {
    width: 19%;
    float: left;
}

.navigation [id^=btn] {
    margin: 0px 10px;
    width: 14%;
    float: right;
}

img {
    width: 100%;
}

.footer #linkImg {
    width: 5%;
    float: left;
}

.footer #linkText {
    margin: 0px 10px;
    width: 27%;
    float: right;
}

.call a {
    display: block;
    float: left;
    width: 50%;
}

a:link, a:visited {
    text-decoration: none;
    outline: none;
}

.inv2 {
    position: relative;
    top: -4px;
}

.calender {
    position: relative;
    top: -8px;
}

.locationInfo {
    position: relative;
    top: -12px;
}
