@charset "uft-8";
html {-webkit-text-size-adjust: none;}
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: left;
	font-family: "Arial","Dotum","sans-serif";
	/* [disabled]font-size: 12px; */
	color: #333;
	line-height: 1.6em;
	/* [disabled]font-weight:normal; */
}
div, p, ul, li, table, th, td, textarea, input, span, form, h1, h2, h3, h4, h5, h6, dt, dl, dd, em, sup {padding:0;margin:0;}
h1, h2, h3, h4, h5, h6 {font-weight:bold;}
ul, ol, dl, dd, dt, li {list-style-type:none;margin:0;padding:0;line-height:1.6em;}
form, fieldset, p {margin:0;padding:0;border:0;}
table {width:100%;table-layout:fixed;}
table, tbody, tfoot, thead, tr, th, td {border-collapse:separate;border-spacing:0;table-layout:fixed;} /*border:none; separate*/
/* 6 */* html table, tbody, tfoot, thead, tr, th, td {border-collapse:collapse;}
/* 7 */* + html table, tbody, tfoot, thead, tr, th, td {border-collapse:collapse;}
table th {font-weight:bold;}
legend {display:none;position:absolute;visibility:hidden;}
caption {visibility:hidden;width:0;height:0;overflow:hidden;font-size:0;margin:0;padding:0;line-height:0;}
img {border:0;vertical-align:middle;outline:none;}
optgroup {font-style:normal;font-size:0;height:0;line-height:0;}
input,select {font-family:"Arial", "Dotum", "sans-serif";font-size:12px;margin:0;vertical-align:middle;color:#999;}
label {cursor:pointer;}
address {font-style:normal;font-weight:normal;}
legend, caption {display:none;clear:both;}
input, textarea, select, button, table {font-size:inherit;font-family:inherit;line-height:inherit;}
section, nav, article, aside, hgroup, header, footer {display:block;}
textarea, input {background:url(none);-webkit-border-radius:1px;-webkit-apprearance:none;}
textarea {resize:none;}
label {cursor:pointer;}
input.radio {width:12px;height:12px;}
input.checkbox {width:12px;height:12px;}
/* 留곹겕 */
a {text-decoration:none;color:#929292;}
a:link, a:visited {text-decoration:none;color:#929292;outline:none;}
a:hover, a:focus, a:current {text-decoration:none;outline:none;}
.bg_none {background:none !important;}
.brd_none {border:none !important;}
.clear {*zoom:1;}
.clear:after {content:" "; display:block;clear:both;overflow:hidden;}

.wrap {
	width: 100%;
	max-width: 1080px;
  margin: 0 auto;
	/* [disabled]margin:0 auto; */
}
.wrap img {width:100%;}
.inv1 {padding-bottom: 20px;}
.call a {display:block;float:left;width:50%;}
.wrap_controllers {display:none !important;}
.map {width:100% !important;}
.map #itfsMap {width:99% !important;margin:0 auto;}
.map #itfsMap .nmap {width:100% !important;}
.smsArea {
	padding: 0 10%;
	background-color: #FFFFFF;
}
.smsArea .sms1 a {display:block;float:right;width:48%;}
.smsArea .sms1 a:first-child {float:left;}
.smsArea .sms2 {padding-top:10px;}
.smsArea .sms2 a {display:block;}
.map>div:nth-child(2) {display:none !important;}
